<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
    <!-- ...existing code... -->
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.example.store.controller.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>
    <!-- ...existing code... -->
</web-app>

